body {
	background-color: #fefbd8;
}
/* ~~~~~~~~~~~~~Static Pages - Recipe1-2-3-4-5~~~~~~~~~~~~~ */

.description {
	text-align: left;
	font-weight: normal;
	padding: 20px;
	color: #3d4118;
	border: 5px solid orange;
}
/* ~~~~~~~~~~~~~AboutPage~~~~~~~~~~~~~ */
.about-page {
	margin:50px;
	padding: 20px;
	border:5px solid rgb(106, 255, 0);
}

/* ~~~~~~~~~~~~~Add Recipe Page~~~~~~~~~~~~~ */

.add-recipe-page {
	margin:50px;
	padding: 20px;
	border:5px solid rgb(88, 133, 48);
}

/* ~~~~~~~~~~~~~Detail Recipe Page~~~~~~~~~~~~~ */

.detail-recipe-page {
	margin:50px;
	padding: 20px;
	border:5px solid rgb(255, 0, 89);
}


/* ~~~~~~~~~~~~~FindRecipe Page~~~~~~~~~~~~~ */

.find-recipe-page {
	margin:50px;
	padding: 20px;
	border:5px solid rgb(0, 217, 255);
}

/* ~~~~~~~~~~~~~HomePage~~~~~~~~~~~~~ */
.back-image {
	background-color: #cccccc;
	height: 600px; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	border:5px solid yellow;
	background-image: linear-gradient(to right, red , yellow);
	/* responsive image */
	width: 50%;
	max-width: 100%;
  	/* height: auto; */
}

/* ~~~~~~~~~~~~~Show all recipes page~~~~~~~~~~~~~ */

.recipe-detail {
	margin:50px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* flex-wrap: nowrap; */
	/* flex-flow: row wrap; */
	/* justify-content: center; */
	color:  #82b74b;	
	float: right;
	width: 50%; 
	/* width: 100%; looks better but not for " Show all recipes" */
	border: 5px solid green;
}

/* ~~~~~~~~~~~~~Routes~~~~~~~~~~~~~ */

.router-links {
	display: flex;
	flex-wrap: wrap;
	color: #405d27;	 
	text-align: left;
	border: 5px solid red;
}

.nav-routes {
	display: flex;
	border: 5px solid rgb(138, 17, 111) ;
}

/* ~~~~~~~~~~~~~Tags~~~~~~~~~~~~~ */

a {
	text-decoration: none;
}

li {
	display: inline;
  	padding: 10px 8px;
}

/* ~~~~~~~~~~~~~Search Button~~~~~~~~~~~~~ */

.search-button {
	display: inline;
}


