body {
	background-color: #fefbd8;
        font-family: 'Verdana', 'Tangerine', serif;
        font-size: 16px;
}
/* ~~~~~~~~~~~~~Static Pages - Recipe1-2-3-4-5~~~~~~~~~~~~~ */

.internal-page {
	margin:50px;
	padding: 20px;
}

.description {
	text-align: left;
	font-weight: normal;
	padding: 20px;
	color: #3d4118;
	border: 5px solid orange;
}

/* ~~~~~~~~~~~~~AboutPage~~~~~~~~~~~~~ */
.about-page {
	border:5px solid rgb(106, 255, 0);
}

/* ~~~~~~~~~~~~~Add Recipe Page~~~~~~~~~~~~~ */
.add-recipe-page {
	border:5px solid rgb(88, 133, 48);
}

/* ~~~~~~~~~~~~~Detail Recipe Page~~~~~~~~~~~~~ */
.detail-recipe-page {
	border:5px solid rgb(255, 0, 89);
}


/* ~~~~~~~~~~~~~FindRecipe Page~~~~~~~~~~~~~ */

.find-recipe-page {
	border:5px solid rgb(0, 217, 255);
}

/* ~~~~~~~~~~~~~HomePage~~~~~~~~~~~~~ */
.back-image {
	background-color: #cccccc;
	height: 600px; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	border:5px solid yellow;
	background-image: linear-gradient(to right, red , yellow);
	width: 100%;
}

/* ~~~~~~~~~~~~~Show all recipes page~~~~~~~~~~~~~ */

.recipe-detail {
	display: flex;
	flex-direction: column;
	color:  #82b74b;	
	float: right;
	width: 50%; 
	/* width: 100%; looks better but not for " Show all recipes" */
	border: 5px solid green;
}

.recipe-detail a {
	color: rgb(55, 174, 134);
}

/* ~~~~~~~~~~~~~Routes~~~~~~~~~~~~~ */

.router-links {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	color: #e9e94a;	 
	text-align: center;
	border: 5px solid red;
}


/* ~~~~~~~~~~~~~Tags~~~~~~~~~~~~~ */

a {
	text-decoration: none;
}

li {
	display: inline;
  	padding: 10px 8px;
}

h3 {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

table, th, td {
	border: 1px solid rgb(62, 93, 228);
  }

/* ~~~~~~~~~~~~~Search Button~~~~~~~~~~~~~ */

.search-button {
	padding: 50px;
	display: inline;
}


